{% extends 'admin/master.html' %}
{% block head_meta %}
    {{ super() }}
    {% if not current_user.is_authenticated %}
        <meta http-equiv="refresh" content="0; url={{ url_for('security.login') }}"/>
    {% endif %}
{% endblock %}
{% block body %}
    {{ super() }}
    {% if current_user.is_authenticated %}
        <form action="{{ url_for('admin.index') }}" method="POST">
            {{ form.csrf_token }}
            {% for key, value in data.items() %}
                <div style="display: flex; align-items: center; justify-content: space-between">
                    <label for="input_{{ key }}">{{ key }}:</label>
                    <input type="text" id="input_{{ key }}" name="{{ key }}" class="form-control" value="{{ value }}">
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    {% endif %}

{% endblock body %}
