<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="windows-1251" />
        <title>Пользовательское соглашение</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="https://chatgpt-telegram.com/img/favicon.png">
        <link rel="apple-touch-icon" href="https://chatgpt-telegram.com/img/favicon.png">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        <!-- Main Css -->
        <link href="css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="css/colors/default.css" rel="stylesheet" id="color-opt">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(92687771, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/92687771" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </head>

    <body>

        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky d-print-none">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="index.html">
                    <img src="img/logo-dark.png" height="24" class="logo-light-mode" alt="ChatGPT">
                </a>
                
                <!-- Logo End -->



        
                 <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a href="/" class="sub-menu-item">Главная</a></li>
                        <li><a href="/" class="sub-menu-item">Возможности</a></li>
                        <li><a href="/" class="sub-menu-item">Telegram бот</a></li>
                        <li><a href="/" class="sub-menu-item">Партнерская программа</a></li>
                        <li><a href="/" class="sub-menu-item">Тарифы</a></li>
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        


        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->
        
        <!-- Start Privacy -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="card shadow rounded border-0">
                            <div class="card-body">
                                <h5 class="card-title">Публичный договор-оферта :</h5>
                                <p class="text-muted">Настоящий договор является публичной офертой именуемого в дальнейшем Исполнитель, в соответствии со ст. 437 ГК РФ</p>
                            
                                <h5 class="card-title">1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ :</h5>
                                <ul class="list-unstyled text-muted">
                                    <li><span class="text-primary">Заказчик</span> — физическое или юридическое лицо, индивидуальный предприниматель, принявшее (акцептовавшее) настоящую оферту. В соответствии с п. 3 ст. 438 ГК РФ акцептом оферты является, в том числе, оплата услуг Исполнителя.</li>
                                    <li><span class="text-primary">Стороны</span> — совместное наименование Исполнителя и Заказчика для целей настоящего договора.</li>
                                    <li><span class="text-primary">Услуга</span> — предоставление Пользователю возможности использования веб-сервиса и его функций путем удаленного подключения по сети интернет в объемах и в течение сроков, предусмотренных тарифом.</li>
                                    <li><span class="text-primary">Пользователь</span> — физическое лицо, зарегистрированное в сети Телеграм и имеющее действующую учетную запись в указанной сети, непосредственно пользующееся услугой от имени и по поручению Заказчика и по согласованию с Исполнителем.</li>
                                    <li><span class="text-primary">Веб-сервис</span> — программное обеспечение «ChatGpt Телеграм», расположенное в сети интернет по адресу chatgpt-telegram.com , а также иное программное обеспечение, которое может быть предусмотрено Тарифом.</li>
                                    <li><span class="text-primary">Учетная запись</span> — совокупность данных авторизации и иной информации Пользователя, используемой для доступа к сетям Телеграм, расположенных в сети интернет по адресам https://t.me/ или иным адресам, используемых указанными ресурсами.</li>
                                    <li><span class="text-primary">Тариф</span> — перечень и спецификация предоставляемых Исполнителем услуг (их объем, характеристика, сроки предоставления, стоимость и т.д.), опубликованные на информационных ресурсах.</li>
                                    <li><span class="text-primary">Информационные ресурсы</span> — интернет-сайт Исполнителя chatgpt-telegram.com и телеграм бот https://t.me/chat9pt_bot/</li>
                                </ul>
    
                                <h5 class="card-title">2. ОБЩИЕ ПОЛОЖЕНИЯ :</h5>
                                <ul class="list-unstyled text-muted">
                                    <li><span class="text-primary">2.1.</span> Исполнитель обязуется предоставлять, а Заказчик - своевременно и в полном объеме оплачивать услуги, предусмотренные настоящим Договором.</li>
                                    <li><span class="text-primary">2.2.</span> В услугу не входит настройка программного или аппаратного обеспечения пользователя. Консультации по вопросам функционирования веб-сервиса осуществляются службой поддержки на условиях, опубликованных на информационных ресурсах.</li>
                                </ul>
                                
                                <h5 class="card-title">3. ПРАВА И ОБЯЗАННОСТИ СТОРОН :</h5>
                                 <ul class="list-unstyled text-muted">
                                    <li><span class="text-primary">3.1.</span> Исполнитель обязуется качественно, своевременно и в полном объеме предоставлять услуги Заказчику.</li>
                                    <li><span class="text-primary">3.2.</span> Исполнитель оставляет за собой право на безвозмездной основе опубликовать в информационных ресурсах, принадлежащих исполнителю, или в иных сетевых ресурсах публичную информацию о группе, скриншот группы с размещенной в ней продуктом (виджетом) с целью информирования третьих лиц о возможностях продукта (виджета) и информации о его использовании.</li>
                                </ul>
                                
                                <h5 class="card-title">4. СТОИМОСТЬ УСЛУГ И ПОРЯДОК ОПЛАТЫ :</h5>
                                <ul class="list-unstyled text-muted">
                                    <li><span class="text-primary">4.1.</span> Стоимость Услуг определяется на момент их оплаты Заказчиком согласно выбранному тарифу.</li>
                                    <li><span class="text-primary">4.2.</span> Услуги предоставляются на условиях предоплаты, которая осуществляется Заказчиком путем перечисления средств на расчетный счет Исполнителя (для Заказчиков - юридических лиц или индивидуальных предпринимателей) или другими способами, опубликованными на информационных ресурсах (для Заказчиков - физических лиц).</li>
                                    <li><span class="text-primary">4.3</span> Услуга тариф «На месяц» сроком на 1 месяц, стоимость услуги 399 рублей.</li>
                                    <li><span class="text-primary">4.4 </span>Услуга тариф «На год» сроком на 1 год, стоимость услуги 4000 рублей.</li>
                                </ul>
                                
                                <h5 class="card-title">5. ПОРЯДОК СДАЧИ-ПРИЕМКИ ПРЕДОСТАВЛЕННЫХ УСЛУГ :</h5>
                                <ul class="list-unstyled text-muted">
                                    <li><span class="text-primary">5.1.</span> Услуги, оказанные Исполнителем, будут считаться принятыми в полном объеме при отсутствии письменных возражений или претензий со стороны Заказчика спустя 10 дней после окончания оплаченного в соответствии с Тарифом периода.</li>
                                    <li><span class="text-primary">5.2.</span> В случае несоблюдения Заказчиком сроков, указанных в п.5.1. Договора, Услуги также считаются принятыми Заказчиком в полном объеме и без замечаний.</li>
                                </ul>
                                
                                <h5 class="card-title">6. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ :</h5>
                                <ul class="list-unstyled text-muted">
                                    <li><span class="text-primary">6.1.</span> Договор вступает в силу в момент оплаты Заказчиком Услуг согласно выбранного им Тарифа и действует в течение всего срока, когда Исполнитель предоставляет Услуги, а Заказчик их оплачивает, но в любом случае до полного выполнения Сторонами своих обязательств по Договору.</li>
                                    <li><span class="text-primary">6.2. </span>Действие Договора прекращается в случае расторжения Договора по соглашению Сторон или по инициативе одной из Сторон в случае грубого и/или систематического нарушения другой Стороной условий Договора услуг.</li>
                                </ul>
                                
                                <h5 class="card-title">7. РЕКВИЗИТЫ :</h5>
                                <ul class="list-unstyled text-muted">
                                    <li>ИП Романов Сергей Евгеньевич</li>
                                    <li>ИНН 344691287230</li>
                                    <li>ОГРН 319784700029340</li>
                                    <li>Расчетный счет 40802810332230002232</li>
                                    <li>Банк АО «Альфа-Банк»</li>
                                    <li>Корр. счет Банка 30101810600000000786</li>
                                    <li>ИНН Банка 344691287230</li>
                                    <li>БИК Банка 044030786</li>
                                </ul>
                                
                                
                                
                                
                                <a href="javascript:window.print()" class="btn btn-soft-primary d-print-none">Печать</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Privacy -->

        <!-- Footer Start -->
        <footer class="footer">    


            <div class="footer-py-30 footer-bar">
                <div class="container text-center">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="text-sm-start">
                                <p class="mb-0">ИП Романов Сергей Евгеньевич, ИНН 344691287230 <br><a href="https://shreethemes.in/" target="_blank" class="text-reset">Политика конфиденциальности</a>.</p>
                            </div>
                        </div><!--end col-->

                    </div><!--end row-->
                </div><!--end container-->
            </div>
        </footer><!--end footer-->
        <!-- Footer End -->

        


        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
        <!-- Back to top -->


        <!-- javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- SLIDER -->
        <script src="js/tiny-slider.js "></script>
        <!-- Icons -->
        <script src="js/feather.min.js"></script>
        <!-- Switcher -->
        <script src="js/switcher.js"></script>
        <!-- Main Js -->
        <script src="js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    </body>
</html>